// Breakpoints
$bp-palm: 20em;
$bp-hands: 37.5em;
$bp-hands-wide: 53.125em;
$bp-lap: 75em;
$bp-desk: 100em;

// Brand colours
$color-primary: #a63c06;
$color-primary-dark: darken(adjust-hue($color-primary, -3%), 6%);
$color-primary-light: lighten(adjust-hue($color-primary, 4%), 10%);
$color-secondary: #297799;

$white: #fff;
$gray-10: mix($color-primary, darken($white, 10%), 5%);
$gray-20: mix($color-primary, darken($white, 20%), 5%);
$gray-80: mix($color-primary, darken($white, 80%), 5%);
$gray-90: mix($color-primary, darken($white, 90%), 5%);
$black: #000;

$color-pos: #23b249;
$color-neg: #c11526;
$color-neut: $color-primary-light;

// Typography
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-main: $system-fonts;
$font-family-headings: $system-fonts;
$font-size: 1.125rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;

$em-base: 16px;
$font-size-base: 1.125rem;
$font-size-small: 80%;
$font-size-super: 4rem;

$line-height-base: 1.4;

// Padding
$padding-large: 15%;
$padding-small: 5%;
$padding-x-small: 1%;


$background-color: #fff;
$border-color: rgba($gray-80, .25);

// Typography colours
$text-color: $gray-80;
$link-color: $color-secondary;
$link-color-hover: adjust-hue(saturate(darken($link-color, 10%), 2%), 4%);
$form-border-color: $gray-20;

// Other colours
$linked-border: 1px solid $link-color;
$form-border: 1px solid $form-border-color;

// Layout
// *******
$gutter: 1.25rem;
$gutter-vertical: 1.25em;
$max-width: 64rem;
$content-width: 42rem;
