.board {
  @include size($content-width);
  @include margin(null auto);
  display: grid;
  position: relative;
  max-width: 80vw;
  max-height: 80vw;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  * { margin-top: 0; }
}

.board__space {
  border-radius: 0;
  border-color: $color-secondary;
  background-color: $gray-10;
  $font-size-h3: 1.5rem;

  @media (min-width: $bp-palm) { font-size: $font-size-h2; }
  @media (min-width: $bp-hands) { font-size: $font-size-h1; }
  @media (min-width: $bp-hands-wide) { font-size: $font-size-super; }
}

.board__message {
  @include size(100%);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: $color-primary-dark;
  color: $white;
  font-size: $font-size-h1;
}
