// Buttons
button,
input[type="submit"] {
  display: inline-block;
  padding: .5em .75em;
  border: 1px solid;
  border-radius: .3em;
  background-color: $background-color;
  color: $link-color;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;

  @include haf {
    border: $linked-border;
    background-color: $link-color;
    color: $background-color;
    text-decoration: none;
  }

  &[disabled] {
    background-color: $gray-20;
    color: inherit;
    pointer-events: none;
  }
}

.button-positive {
  border-color: $color-pos;
  color: $color-pos;

  @include haf {
    background-color: $color-pos;
  }
}
